body { 
	background-color: #555555;
    color: #dddddd;
    font-family: "Tahoma";
    align-content: center;
}

h1{
    font-family: "Georgia";
    text-align: center;
}



p{
    font-family: "Georgia";
    text-align: center;
}